body{
    margin: 0;
}

.mario{
    background-color: rgb(68, 211, 222);
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

#player{
    position: absolute;
    bottom: 25vh;
    left: 0px;
    border: 1px solid black;
}

#enemy{
    position: absolute;
    bottom: 25vh;
    right: 0px;
    border: 1px solid black;
}

.bullet {
    width : 150px;
    height : 146px;
    transform: translateY(-50%);
    animation: slideAnimation 1s linear infinite;
}

@keyframes slideAnimation {
    0% {
      transform: translateX(0%); /* Démarre complètement à gauche de l'écran */
    }
    100% {
      transform: translateX(calc(100vw + 200px)); /* Se déplace complètement à droite de l'écran */
    }
}

#sol{
    width: 100%;
    height: 30vh;
    background-color: rgb(31, 108, 31);
}