body{
    margin: 0;
}

.maps{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    background-image: url(./images/ciel-etoile.jpg);
    background-size: cover;
    height: 100vh;
}

h1{
    font-size: 3rem;
}

.imgMaps{
    display: flex;
    margin-top: 1rem;
}

.imgMaps img{
    height: 40vh;
    border-radius: 20px;
}

.imgMaps img:hover{
    scale: 1.1;
    transition: scale 1s;
}

.jeu{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.6rem;
}